@model GuestBook.Models.Reply

@{
    ViewData["Title"] = "Create";
}

<h4>Reply</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                Write your reply:
                <input asp-for="ReplyBody" class="form-control" />
            </div>
            <input asp-for="MessageId" type="hidden" />
            <br />
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>